* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 500px;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    background-image: linear-gradient(to top, #e6e 0%, #b5448c 100%);
}